/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
/* Additional files */
/* Base colors */
/* Settings for site */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap; }

.wrapper {
  max-width: 1920px;
  margin: 0 auto; }

html {
  height: 100%; }

body {
  font-family: 'Montserrat', sans-serif;
  background: #fff;
  font-size: 16px;
  min-width: 320px;
  overflow-x: hidden; }

ul {
  list-style: none;
  padding-left: 0; }

a {
  text-decoration: none !important;
  color: inherit; }
  a:hover {
    color: inherit; }

svg {
  vertical-align: baseline; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #646464;
  text-transform: uppercase; }

h1 {
  font-size: 80px;
  line-height: 75px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 50px; }

h4 {
  font-size: 20px;
  color: #ffffff; }

p {
  color: #969696; }

img {
  max-width: 100%; }

iframe {
  border: none; }

@media only screen and (max-width: 575px) {
  .img-big {
    display: none; } }

@media only screen and (min-width: 576px) {
  .img-small {
    display: none; } }

hr {
  text-align: left;
  width: 100%;
  border-top: 1px solid #ffffff;
  margin: 0px; }

@media only screen and (max-width: 767px) {
  hr {
    width: 165px; } }

.line-header {
  border-bottom: 1px solid #D9D9D9;
  width: 100%; }

.svg-sprite {
  display: none; }

.link {
  color: #646464; }
  .link:hover {
    color: #FF9300; }

.active_link {
  color: #FF9300; }

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.button a {
  width: 240px;
  height: 40px;
  display: inline-block;
  padding-right: 14px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding-left: 22px;
  text-transform: none;
  font: 14px/38px "Montserrat-Light"; }

.btn {
  text-align: left;
  position: relative;
  color: #ffffff;
  font-family: 'Maven Pro', sans-serif;
  background-color: #FF9300;
  border: 1px solid #FF9300;
  font-size: 14px;
  font-weight: 500;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  padding: 13px 15px;
  width: 220px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .btn:hover {
    background-color: transparent;
    color: #FF9300;
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
    .btn:hover > .icon {
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      color: #FF9300; }
  .btn-crystalline {
    background-color: transparent;
    font-weight: 300;
    color: #FF9300; }
    .btn-crystalline > .icon {
      color: #FF9300;
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }

@media only screen and (max-width: 767px) {
  .btn {
    width: 246px;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    padding: 9px 35px; }
  .icon {
    display: none; } }

.btn-send button {
  position: absolute;
  top: 2.5px;
  right: 5px;
  position: absolute;
  right: 6px;
  bottom: 11px;
  width: 34px;
  height: 34px;
  background: #fb8823 url(../img/icons/arr_white.png) no-repeat center;
  border: none;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  cursor: pointer; }

.btn-send-textarea button {
  top: 10px; }

.icon {
  position: absolute;
  top: 42%;
  right: 10px;
  height: 10px;
  width: 10px;
  fill: currentColor;
  color: #ffffff;
  margin-left: 10px; }

.input, .textarea {
  width: 100%;
  padding: 5px 10px;
  color: #ffffff;
  border: none;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #646464; }
  .input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
    color: #BABABA;
    background: #646464 url(../img/icons/arrow-normal-grey.svg) no-repeat;
    -webkit-background-size: 10px 10px;
            background-size: 10px 10px;
    background-position: 5px 50%;
    padding-left: 20px; }
  .input:-ms-input-placeholder, .textarea:-ms-input-placeholder {
    color: #BABABA;
    background: #646464 url(../img/icons/arrow-normal-grey.svg) no-repeat;
    background-size: 10px 10px;
    background-position: 5px 50%;
    padding-left: 20px; }

.textarea {
  min-height: 50px; }

@media only screen and (max-width: 767px) {
  .input {
    min-height: 30px;
    font-size: 9px; }
    .input::-webkit-input-placeholder {
      color: #BABABA;
      background: #646464 url(../img/icons/arrow-normal-grey.svg) no-repeat;
      -webkit-background-size: 7px 4px;
              background-size: 7px 4px;
      background-position: 5px 50%;
      padding-left: 20px; }
    .input:-ms-input-placeholder {
      color: #BABABA;
      background: #646464 url(../img/icons/arrow-normal-grey.svg) no-repeat;
      background-size: 7px 4px;
      background-position: 5px 50%;
      padding-left: 20px; }
  .btn-send button {
    width: 24px;
    height: 24px; } }

@media only screen and (min-width: 768px) {
  .input {
    min-height: 40px; } }

.yellow {
  color: #FFFF00; }

.orange {
  color: #FF9300; }

.bold-dark {
  color: #646464;
  font-weight: 700; }
