/* Additional files */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
/* Additional files */
/* Base colors */
/* Settings for site */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap; }

.wrapper {
  max-width: 1920px;
  margin: 0 auto; }

html {
  height: 100%; }

body {
  font-family: 'Montserrat', sans-serif;
  background: #fff;
  font-size: 16px;
  min-width: 320px;
  overflow-x: hidden; }

ul {
  list-style: none;
  padding-left: 0; }

a {
  text-decoration: none !important;
  color: inherit; }
  a:hover {
    color: inherit; }

svg {
  vertical-align: baseline; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #646464;
  text-transform: uppercase; }

h1 {
  font-size: 80px;
  line-height: 75px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 50px; }

h4 {
  font-size: 20px;
  color: #ffffff; }

p {
  color: #969696; }

img {
  max-width: 100%; }

@media only screen and (max-width: 575px) {
  .img-big {
    display: none; } }

@media only screen and (min-width: 576px) {
  .img-small {
    display: none; } }

hr {
  text-align: left;
  width: 100%;
  border-top: 1px solid #ffffff;
  margin: 0px; }

@media only screen and (max-width: 767px) {
  hr {
    width: 165px; } }

.line-header {
  border-bottom: 1px solid #D9D9D9;
  width: 100%; }

.svg-sprite {
  display: none; }

.link {
  color: #646464; }
  .link:hover {
    color: #FF9300; }

.active_link {
  color: #FF9300; }

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.button a {
  width: 240px;
  height: 40px;
  display: inline-block;
  padding-right: 14px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding-left: 22px;
  text-transform: none;
  font: 14px/38px "Montserrat-Light"; }

.btn {
  text-align: left;
  position: relative;
  color: #ffffff;
  font-family: 'Maven Pro', sans-serif;
  background-color: #FF9300;
  border: 1px solid #FF9300;
  font-size: 14px;
  font-weight: 500;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  padding: 13px 15px;
  width: 220px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .btn:hover {
    background-color: transparent;
    color: #FF9300;
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
    .btn:hover > .icon {
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      color: #FF9300; }
  .btn-download {
    background-color: transparent;
    font-weight: 300;
    color: #FF9300; }
    .btn-download > .icon {
      color: #FF9300;
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }

@media only screen and (max-width: 767px) {
  .btn {
    width: 246px;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    padding: 9px 35px; }
  .icon {
    display: none; } }

.btn-clear {
  position: absolute;
  top: 2.5px;
  right: 5px;
  display: none; }
  .btn-clear img {
    width: 35px;
    height: 35px; }

.icon {
  position: absolute;
  top: 42%;
  right: 10px;
  height: 10px;
  width: 10px;
  fill: currentColor;
  color: #ffffff;
  margin-left: 10px; }

.input, .textarea {
  width: 100%;
  padding: 5px 10px;
  color: #ffffff;
  border: none;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #646464; }
  .input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
    color: #BABABA;
    background: #646464 url(../img/icons/arrow-normal-grey.svg) no-repeat;
    -webkit-background-size: 10px 10px;
            background-size: 10px 10px;
    background-position: 5px 50%;
    padding-left: 20px; }
  .input:-ms-input-placeholder, .textarea:-ms-input-placeholder {
    color: #BABABA;
    background: #646464 url(../img/icons/arrow-normal-grey.svg) no-repeat;
    background-size: 10px 10px;
    background-position: 5px 50%;
    padding-left: 20px; }

@media only screen and (max-width: 767px) {
  .input, .textarea {
    min-height: 30px;
    font-size: 9px; }
    .input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
      color: #BABABA;
      background: #646464 url(../img/icons/arrow-normal-grey.svg) no-repeat;
      -webkit-background-size: 7px 4px;
              background-size: 7px 4px;
      background-position: 5px 50%;
      padding-left: 20px; }
    .input:-ms-input-placeholder, .textarea:-ms-input-placeholder {
      color: #BABABA;
      background: #646464 url(../img/icons/arrow-normal-grey.svg) no-repeat;
      background-size: 7px 4px;
      background-position: 5px 50%;
      padding-left: 20px; } }

@media only screen and (min-width: 768px) {
  .input, .textarea {
    min-height: 40px; } }

.yellow {
  color: #FFFF00; }

.orange {
  color: #FF9300; }

.bold-dark {
  color: #646464;
  font-weight: 700; }

/* List section for site*/
.fixed {
  position: fixed;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 30%;
  z-index: 44;
  right: 0;
  background: #fff;
  -webkit-box-shadow: -18px 13px 11px rgba(0, 0, 0, 0.16);
          box-shadow: -18px 13px 11px rgba(0, 0, 0, 0.16); }
  .fixed:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04); }
  .fixed .banner-head {
    width: 151px;
    height: 100px;
    text-align: center; }
    .fixed .banner-head a {
      padding: 16px 10px;
      display: block;
      padding-bottom: 16px; }
    .fixed .banner-head-logo {
      margin-bottom: 10px; }
    .fixed .banner-head-txt {
      color: #FF9300;
      font-size: 13px;
      line-height: 1.3; }
  .fixed .banner-body {
    background: #FF9300;
    width: 151px;
    height: 100px;
    text-align: center; }
    .fixed .banner-body a {
      padding: 16px 10px;
      display: block; }
    .fixed .banner-body-logo {
      margin-bottom: 4px; }
    .fixed .banner-body-txt p {
      color: #fff;
      font-size: 13px;
      line-height: 1.3; }

@media only screen and (max-width: 991px) {
  .fixed {
    display: none; } }

/* Start section Header */
body {
  background-image: url("../img/main/Force@work_banner.png");
  background-repeat: no-repeat;
  background-position: center 0px;
  -webkit-background-size: 2000px 2000px;
          background-size: 2000px; }

.header {
  padding-bottom: 120px;
  /* Start block Header-top and Header-bottom */
  /* Finish block Header-top and Header-bottom */
  /* Start block Main */
  /* Finish block Main */
  /* Start block mobile_menu */
  /* Finish block mobile_menu */ }
  .header-top {
    padding: 25px 0; }
    .header-top-logo img {
      width: 205px;
      height: 32px; }
    .header-top-menu .nav li a {
      padding-left: 25px; }
  .header-bottom {
    padding-top: 15px; }
    .header-bottom-text_2 {
      display: none; }
    .header-bottom-text span {
      font-size: 14px;
      color: #FF9300; }
    .header-bottom-submenu .nav li a {
      padding-left: 25px; }
  .header .main {
    padding: 0 0 80px 0; }
    .header .main-text {
      padding-top: 140px; }
      .header .main-text h2 {
        color: #8B8B9C;
        padding: 40px 0;
        font-family: 'Maven Pro', sans-serif;
        font-weight: 400;
        text-transform: none; }
      .header .main-text-list {
        font-family: 'Maven Pro', sans-serif; }
        .header .main-text-list ul li {
          margin-bottom: 8px;
          width: 250px; }
          .header .main-text-list ul li:hover p {
            display: block;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s; }
          .header .main-text-list ul li a {
            width: 220px;
            text-decoration: none;
            color: #545469;
            display: inline-block;
            width: 238px;
            padding-bottom: 3px;
            background: url(../img/icons/arrow.png) no-repeat right 10px center;
            font: 14px/37px "Montserrat";
            padding-right: 20px; }
            .header .main-text-list ul li a:hover {
              background: #ff9300 url(../img/icons/arr_white.png) no-repeat right 10px center;
              color: #fff;
              -webkit-box-shadow: 0 7px 6px rgba(0, 0, 0, 0.16);
                      box-shadow: 0 7px 6px rgba(0, 0, 0, 0.16);
              -webkit-transition: all 0.3s;
              -o-transition: all 0.3s;
              transition: all 0.3s; }
              .header .main-text-list ul li a:hover span {
                color: #ffffff; }
          .header .main-text-list ul li p {
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            font-size: 14px;
            padding: 25px 0;
            display: none;
            display: none;
            font-size: 14px;
            width: 410px;
            color: #969696;
            padding: 20px 0; }
  .header .main-nav-bar {
    width: 40px;
    height: 40px;
    position: relative;
    float: right; }
  .header .line {
    width: 30px;
    height: 4px;
    background-color: #000000;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s; }
    .header .line:before, .header .line:after {
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      background-color: #000000;
      display: inline-block;
      content: '';
      width: 30px;
      height: 4px;
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
    .header .line:before {
      -webkit-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
      transform: translateY(-8px); }
    .header .line:after {
      -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
      transform: translateY(4px); }
  .header .overlay-nav {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    z-index: 99;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8); }
    .header .overlay-nav ul {
      padding-top: 15%;
      line-height: 2.5;
      text-align: center;
      list-style: none; }
      .header .overlay-nav ul li a {
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        color: #fff;
        font-size: 20px;
        font-weight: 500; }
        .header .overlay-nav ul li a:hover {
          text-decoration: none;
          color: #FF9300; }
  .header .close-nav {
    position: fixed;
    font-size: 50px;
    top: 3%;
    right: 5%;
    color: #ffffff; }
    .header .close-nav:hover {
      cursor: pointer; }

/* Start Adaptive block for section Header */
@media only screen and (max-width: 991px) {
  .header-top-menu, .header-top-lang {
    display: none; } }

@media only screen and (max-width: 767px) {
  .header-top {
    padding: 10px 0 0px 0; }
    .header-top-logo img {
      width: 112px;
      height: 18px; }
    .header-top-menu, .header-top-lang {
      display: none; }
  .header-bottom-text_1 {
    display: none; }
  .header-bottom-text_2 {
    display: block;
    position: relative;
    top: -10px; }
  .header-bottom-text span {
    font-size: 9px; }
  .header-bottom-submenu {
    display: none; }
  .header .main {
    padding: 0 0 25px 0; }
    .header .main-text {
      padding-top: 30px;
      text-align: center; }
      .header .main-text h1 {
        font-size: 32px;
        line-height: 35px; }
      .header .main-text h2 {
        font-size: 12px;
        padding: 25px 0; }
      .header .main-text-list ul li {
        width: 100%; }
        .header .main-text-list ul li a {
          margin: 0 auto; }
        .header .main-text-list ul li p {
          width: 100%; } }

@media only screen and (min-width: 992px) {
  .main-nav, .overlay-nav {
    display: none; } }

/* Finish Adaptive block for section Header */
/* Finish section Header */
/* Start section Why_us */
.why_us {
  position: relative;
  padding: 10px 0 20px 0; }
  .why_us h3 {
    display: none; }
  .why_us-slider {
    position: relative;
    top: -36%;
    padding: 100px 0 0 0;
    background: url(../img/why_us/bg-why_us.png) no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    background-position: 50% -55px; }
    .why_us-slider-item {
      margin: 10px; }
      .why_us-slider-item:hover {
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        -webkit-transform: scale(1.04);
            -ms-transform: scale(1.04);
                transform: scale(1.04); }
  .why_us-box {
    min-height: 320px;
    -webkit-box-shadow: 0px 3px 25px rgba(20, 20, 21, 0.2);
            box-shadow: 0px 3px 25px rgba(20, 20, 21, 0.2); }
    .why_us-box img {
      width: 100%;
      height: 100%; }
    .why_us-box-text {
      min-height: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      padding: 10px 15px; }
      .why_us-box-text-head {
        padding: 0 15px; }
        .why_us-box-text-head span {
          font-weight: 600;
          font-size: 16px;
          color: #000000; }
      .why_us-box-text-body {
        padding-top: 10px; }
        .why_us-box-text-body p {
          font-size: 14px;
          font-weight: 500; }
  .why_us-slider-arrows {
    content: '';
    position: absolute;
    top: 50%;
    z-index: 9;
    height: 39px;
    width: 39px;
    font-size: 10px;
    -webkit-transform: translateY(-9px);
    -ms-transform: translateY(-9px);
    transform: translateY(-9px);
    padding: 14px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #FF9300;
    border: 1px solid #FF9300;
    color: #ffffff; }
    .why_us-slider-arrows:hover {
      background-color: transparent;
      color: #FF9300;
      border: 1px solid #FF9300;
      cursor: pointer; }

.slick-active {
  outline: none; }

.arrow-right {
  right: -40px;
  padding-left: 16px; }

.arrow-left {
  left: -40px;
  padding-right: 16px; }

/* Start Adaptive block */
@media only screen and (max-width: 767px) {
  .header {
    padding-bottom: 0px; }
  .why_us {
    padding: 100px 0 0 0;
    background: url(../img/why_us/bg-why_us.png) no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    background-position: 50% -40px; }
    .why_us-slider {
      top: -22%;
      padding: 50px 0 0 0;
      background: none; }
      .why_us-slider-item {
        padding: 0 25px; }
    .why_us-box-text {
      padding: 0 22px;
      line-height: 15px; }
      .why_us-box-text-head {
        padding-top: 20px; }
        .why_us-box-text-head span {
          font-size: 12px; }
      .why_us-box-text-body p {
        font-size: 9px; }
    .why_us-slider-arrows {
      height: 35px;
      width: 35px;
      font-size: 9px;
      padding: 12px;
      background-color: transparent;
      color: #FF9300; }
      .why_us-slider-arrows:hover {
        background-color: #FF9300;
        color: #ffffff; }
    .why_us .arrow-right {
      right: -10px;
      padding-left: 15px; }
    .why_us .arrow-left {
      padding-left: 12px;
      left: -10px; } }

@media only screen and (max-width: 575px) {
  .why_us {
    background-position: 50% -10px; }
    .why_us-slider {
      top: -11%;
      padding: 0px 0 0 0;
      background: none; } }

@media only screen and (max-width: 480px) {
  .why_us {
    background-position: 50% -10px; }
    .why_us-slider {
      top: -20%;
      padding: 0px 0 0 0;
      background: none; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .why_us-slider {
    position: relative;
    top: -30%;
    padding: 90px 0 0 0;
    background: url(../img/why_us/bg-why_us.png) no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    background-position: 50% -35px; }
  .why_us-box {
    min-height: 330px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .why_us-slider {
    padding: 90px 0 0 0;
    background-position: 50% 0px; }
  .why_us-box {
    min-height: 340px; } }

/* Start Adaptive block */
/* Finish section Why_us */
/* Start section Our_goals */
.our_goals {
  padding: 0 0 300px 0;
  background: url(../img/our_goals/bg-our_goals-img.png) no-repeat;
  background-position: -50px -10px; }
  .our_goals h3 {
    display: none; }
  .our_goals-img {
    padding: 100px 0 0 0;
    text-align: center;
    background: url(../img/our_goals/bg-our_goals-text.png) no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    background-position: 50% -60px; }
    .our_goals-img img {
      display: none; }
    .our_goals-img iframe {
      width: 850px;
      max-height: 480px;
      height: 480px; }

/* Start Adaptive block */
@media only screen and (max-width: 767px) {
  .our_goals {
    background: none; }
    .our_goals-img {
      padding: 100px 0 0 0;
      background: url(../img/our_goals/bg-our_goals-text-resp.png) no-repeat;
      background-position: 50% -20px; }
      .our_goals-img iframe {
        width: 100%;
        padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .our_goals-img {
    background-position: 50% -30px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .our_goals {
    background-position: -322px -95px; }
    .our_goals-img {
      padding: 75px 0 0 0;
      background-position: 50% -22px; }
      .our_goals-img iframe {
        width: 100%;
        padding: 0 20px; } }

/* Start Adaptive block */
/* Finish section Our_goals */
/* Start section Mix_match */
.mix_match {
  position: relative;
  padding: 0px 0 100px 0; }
  .mix_match img {
    position: absolute;
    right: 0;
    top: -50%;
    z-index: 2; }
  .mix_match-desc {
    position: relative; }
    .mix_match-desc .content {
      position: relative;
      z-index: 3; }
    .mix_match-desc img {
      position: absolute;
      top: -50%;
      z-index: 1; }
    .mix_match-desc p {
      font-size: 20px; }
    .mix_match-desc .btn-mix_match {
      padding: 10px 30px;
      margin-top: 10px;
      text-transform: uppercase; }

/* Start Adaptive block */
@media only screen and (max-width: 767px) {
  .mix_match {
    margin-bottom: 180px; }
    .mix_match-desc {
      text-align: center; }
      .mix_match-desc h3 {
        font-size: 35px;
        line-height: 35px; }
      .mix_match-desc p {
        font-size: 12px;
        line-height: 13px;
        padding-top: 10px;
        padding-bottom: 9px; }
      .mix_match-desc .btn-mix_match {
        text-transform: none;
        padding: 9px 30px; } }

@media only screen and (max-width: 575px) {
  .mix_match-desc img {
    top: -75%;
    right: 23%; } }

@media only screen and (max-width: 420px) {
  .mix_match-desc img {
    top: -75%;
    right: 5%; } }

@media only screen and (min-width: 768px) {
  .mix_match-desc p {
    padding-right: 20%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .mix_match {
    padding: 0 0 45px 0; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .mix_match {
    padding: 0; }
    .mix_match .bg-mix_match-img {
      width: 700px;
      top: -30%; }
    .mix_match-desc img {
      top: -40%; }
    .mix_match-desc p {
      padding-right: 30%; } }

/* Start Adaptive block */
/* Finish section Mix_match */
/* Start section Multibrand */
.multibrand {
  position: relative;
  margin-top: 100px;
  padding: 50px 0 100px 0;
  background: url(../img/multibrand/bg-multibrand.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .multibrand img {
    position: absolute;
    top: -20%;
    right: 3%; }
  .multibrand-book img {
    position: absolute;
    top: -10%;
    right: 0; }
  .multibrand-desc {
    padding-bottom: 100px; }
    .multibrand-desc-text {
      position: relative; }
      .multibrand-desc-text h3 {
        font-size: 50px; }
      .multibrand-desc-text p {
        font-size: 20px; }

/* Start Adaptive block */
@media (min-width: 768px) and (max-width: 991px) {
  .multibrand .img-big {
    top: -5%;
    right: 0%; }
  .multibrand-book img {
    width: 400px;
    top: -5%; } }

@media only screen and (max-width: 767px) {
  .multibrand {
    padding: 0; }
    .multibrand .img-small {
      top: -19%;
      right: 6%; }
    .multibrand-book img {
      width: 300px;
      top: -75%;
      right: 3%;
      z-index: 1; }
    .multibrand-desc {
      text-align: center; }
      .multibrand-desc-text h3 {
        font-size: 30px;
        line-height: 35px; }
      .multibrand-desc-text p {
        font-size: 12px;
        line-height: 13px; }
      .multibrand-desc-text a {
        margin-top: 15px; } }

@media (min-width: 527px) and (max-width: 575px) {
  .multibrand .img-small {
    top: -28%;
    right: 26%; }
  .multibrand-book img {
    top: -80%;
    right: 22%; } }

@media (min-width: 481px) and (max-width: 526px) {
  .multibrand .img-small {
    top: -24%;
    right: 26%; }
  .multibrand-book img {
    top: -67%;
    right: 22%; } }

@media (min-width: 420px) and (max-width: 480px) {
  .multibrand .img-small {
    top: -18%;
    right: 24%; }
  .multibrand-book img {
    top: -58%;
    right: 19%; }
  .multibrand-desc-text p {
    padding: 0 20px; } }

@media (min-width: 370px) and (max-width: 419px) {
  .multibrand .img-small {
    top: -18%;
    right: 20%; }
  .multibrand-book img {
    top: -53%;
    right: 14%;
    width: 280px; } }

@media only screen and (max-width: 369px) {
  .multibrand .img-small {
    top: -19%;
    right: 10%; }
  .multibrand-book img {
    top: -53%;
    right: 8%;
    width: 280px; } }

@media only screen and (min-width: 992px) {
  .multibrand-book img {
    top: -8%; } }

@media only screen and (min-width: 768px) {
  .multibrand-desc-text p {
    padding-right: 27%; }
  .multibrand-desc-text a {
    margin-right: 30px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .multibrand {
    padding: 50px 0 25px 0; }
    .multibrand .img-big {
      width: 98%;
      top: -9%; }
    .multibrand-book img {
      top: 0%;
      width: 400px; } }

/* Finish Adaptive block */
/* Finish section Multibrand */
/* Start section Footer */
.footer {
  padding: 50px 0 25px 0;
  background: #393838; }
  .footer-quick_menu-links {
    padding-top: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Lato', sans-serif; }
    .footer-quick_menu-links nav ul li {
      position: relative;
      margin-bottom: 20px;
      color: #BABABA; }
      .footer-quick_menu-links nav ul li:hover {
        color: #ffffff;
        font-weight: 700; }
      .footer-quick_menu-links nav ul li img {
        display: none; }
      .footer-quick_menu-links nav ul li:hover {
        color: #ffffff;
        font-weight: 700; }
        .footer-quick_menu-links nav ul li:hover > img {
          position: absolute;
          display: inline-block;
          height: 10px;
          width: 6px;
          top: -webkit-calc(50% - 6px);
          top: calc(50% - 6px);
          left: -15px; }
    .footer-quick_menu-links-block_1 {
      margin-right: 25px; }
    .footer-quick_menu-links-block_2 {
      margin-right: 25px; }
    .footer-quick_menu-links-block_3 nav ul li:hover {
      color: #FFFF00; }
    .footer-quick_menu-links-block_3 nav.social ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .footer-quick_menu-links-block_3 nav.social ul li a {
        margin-right: 10px; }
        .footer-quick_menu-links-block_3 nav.social ul li a img {
          display: inline-block;
          width: 21px;
          height: 21px; }
  .footer-contact-head {
    border-bottom: 1px solid #ffffff; }
  .footer-contact-form {
    padding-top: 20px; }
    .footer-contact-form .contact-item {
      position: relative;
      margin-bottom: 10px;
      font-size: 14px; }
      .footer-contact-form .contact-item:focus-within > .btn-clear {
        -webkit-display: block;
        -moz-display: block;
        -ms-display: block;
        -o-display: block;
        display: block; }
      .footer-contact-form .contact-item:hover > .btn-clear {
        -webkit-display: block;
        -moz-display: block;
        -ms-display: block;
        -o-display: block;
        display: block; }
  .footer-newsletter {
    padding-top: 10px; }
    .footer-newsletter-head {
      border-bottom: 1px solid #ffffff; }
    .footer-newsletter .newsletter-form {
      padding-top: 15px; }
  .footer-caption {
    padding: 30px 0;
    background: #292828; }
    .footer-caption-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .footer-caption-block span {
        font-size: 14px;
        color: #BABABA; }
      .footer-caption-block img {
        width: 51px;
        height: 18px; }

/* Start Adaptive block */
@media only screen and (max-width: 767px) {
  .footer {
    font-size: 13px; }
    .footer-quick_menu {
      padding-left: 33px; }
      .footer-quick_menu-head h4 {
        font-size: 16px; }
      .footer-quick_menu .social {
        display: none; }
      .footer-quick_menu-links nav ul li {
        margin-bottom: 15px; }
        .footer-quick_menu-links nav ul li:last-child {
          margin-bottom: 0; }
      .footer-quick_menu-links-block_2 nav ul li {
        margin-bottom: 23.5px; }
        .footer-quick_menu-links-block_2 nav ul li:last-child {
          margin-bottom: 0; }
      .footer-quick_menu-links ul.footer-quick_menu-links-dop {
        margin-top: 25px; }
        .footer-quick_menu-links ul.footer-quick_menu-links-dop li {
          margin-bottom: 25px; }
          .footer-quick_menu-links ul.footer-quick_menu-links-dop li:hover {
            color: #FFFF00; }
      .footer-quick_menu-links-block_3 {
        display: none; }
    .footer-contact {
      display: none; }
    .footer-newsletter {
      text-align: center; }
      .footer-newsletter-head h4 {
        font-size: 13px; }
    .footer-mob_contact-head {
      padding-top: 12px;
      padding-bottom: 30px; }
      .footer-mob_contact-head h4 {
        font-size: 13px;
        text-align: center; }
    .footer-mob_contact-body {
      text-align: center;
      font-size: 14px; }
      .footer-mob_contact-body img {
        width: 24px;
        height: 20px; }
      .footer-mob_contact-body p {
        padding-top: 20px;
        color: #ffffff; }
      .footer-mob_contact-body nav.social ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .footer-mob_contact-body nav.social ul li a {
          margin-right: 10px; }
          .footer-mob_contact-body nav.social ul li a img {
            display: inline-block;
            width: 21px;
            height: 21px; }
    .footer .btn-clear {
      top: 2.5px;
      right: 5px; }
      .footer .btn-clear img {
        width: 25px;
        height: 25px; }
    .footer-caption-block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .footer-caption-block span {
        margin-bottom: 20px; } }

@media only screen and (min-width: 768px) {
  .footer-mob_contact {
    display: none; }
  .footer .footer-quick_menu-links-dop {
    display: none; } }

/* Finish Adaptive block */
/* Finish section Footer */
/* Start styles from the file cs-skin-border */
.cs-select > span::after, .cs-select .cs-selected span::after {
  content: '';
  padding: 10px;
  background: url(../img/icons/arrow-black.svg) no-repeat;
  -webkit-background-size: 6px 10px;
  background-size: 6px 10px;
  background-position: 0px -6px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  background: url(../img/icons/arrow-black.svg) no-repeat;
  -webkit-background-size: 6px 10px;
  background-size: 6px 10px;
  top: 45%;
  left: 60%; }

div.cs-skin-border {
  background: transparent; }

.cs-skin-border > span {
  color: #695454; }
  .cs-skin-border > span:hover {
    color: #FF9300; }

.cs-skin-border.cs-active > span {
  color: orange; }

.cs-skin-border .cs-options {
  opacity: 0; }

.cs-skin-border .cs-options span:hover {
  color: #FF9300; }

.cs-skin-border.cs-active .cs-options {
  opacity: 1; }

/* Finish styles from the file cs-skin-border */
/* Start styles from the file cs-select */
/* Default custom select styles */
div.cs-select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: center;
  z-index: 100;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

div.cs-select:focus {
  outline: none;
  /* For better accessibility add a style for this in your skin */ }

.cs-select select {
  display: none; }

.cs-select span {
  display: block;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  color: #695454; }

/* Placeholder and selected option */
.cs-select > span::after,
.cs-select .cs-selected span::after {
  speak: none;
  position: absolute;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Options */
.cs-select .cs-options {
  position: absolute;
  overflow: hidden;
  width: 100%;
  background: #fff;
  visibility: hidden; }

.cs-select.cs-active .cs-options {
  visibility: visible; }

.cs-select ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }

.cs-select ul span {
  padding: 10px; }

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
  padding-left: 10px; }

.cs-select li.cs-optgroup > span {
  cursor: default; }

/* Start adaptive block for cs-select */
@media only screen and (max-width: 991px) {
  div.cs-select {
    width: 200px;
    background: #fff;
    margin-top: 30px; }
  .cs-skin-border > span {
    font-size: 20px; }
  .header .overlay-nav ul .cs-select ul {
    padding-top: 0;
    font-size: 18px; }
  .cs-select ul span {
    padding: 0; } }

/* Finish adaptive block for cs-select */
/* Finish styles from the file cs-select */
