/* Additional files */
@import 'default.scss';
@import 'mixin.scss';

/* List section for site*/

/* Start section Header */

.header {
	padding: 25px 0;
	background-image: url('../img/main/Force@work_banner.png');
	background-repeat: no-repeat;
	background-position: left 0px;
	background-size: cover;

	/* Start block Header-top and Header-bottom */
	
	&-top {
		border-bottom: 1px solid $white-grey;

		&-logo {
			img {
				width: 205px;
				height: 32px;
			}
		}

		&-menu {
			.nav {
				li {
					a {
						padding-left: 25px;
					}
				}
			}
		}

	}

	&-bottom {
		padding-top: 15px;

		&-text {
			span {
				font-size: 14px;
				color: $orange;
			}
		}

		&-submenu {
			.nav {
				li {
					a {
						padding-left: 25px;
					}
				}
			}
		}

	}


	/* Finish block Header-top and Header-bottom */

	/* Start block Main */

	.main {
		padding: 0 0 80px 0;

		&-text {
			padding-top: 140px;
			h2 {
				color: $grey;
				padding: 40px 0;
			}
			p {
				font-size: 14px;
				padding: 25px 0;
			}

			&-list {
				width: 220px;
				ul li {
					background: url(../img/icons/arrow.svg) no-repeat;
					background-position: right center;
					background-size: 6px 10px;
					a {
						width: 200px;
						text-decoration: none;
					}
				}
			}
		}

	}

	/* Finish block Main */


}
/* Start Adaptive block for section Header */

@include lg-down {

}

@include md-down {

}

@include sm-down {
}

@include xs-down {

	.header {

		.main {
			&-text {
				h1 {
					font-size: 32px;
				}
			}
		}


	}

}

/* Finish Adaptive block for section Header */

/* Finish section Header */


/* Start section Why_us */

.why_us {

	&-slider {
		padding: 75px 0 20px 0;
		background: url(../img/why_us/bg-why_us.png) no-repeat;
		background-size: contain;
		background-position: 50% -75px;
		top: -20%;
		&-item {
			margin: 10px;
	    	min-height: 320px;
	    	box-shadow: 0px 0 15px 2px rgba(20, 20, 21, 0.4);
		}
	}
	&-box {
		img {
			width: 100%;
			height: 100%;
		}

		&-text {
			min-height: 10px;
			display: flex;
			justify-content: center;
			text-align: center;
			align-items: flex-start;
			padding: 10px 15px;

			&-head {
				span {
					font-weight: 600;
					font-size: 18px;
					color: $black;
				}
			}
			&-body {
				padding-top: 10px;
				p {
					font-size: 14px;
					font-weight: 500;
				}
			}
	   }
   }
  &-slider-arrows {
  	content: '';
    position: absolute;
    top: 50%;
    z-index: 9;
    height: 50px;
    width: 50px;
    -webkit-transform: translateY(-9px);
    -ms-transform: translateY(-9px);
    -o-transform: translateY(-9px);
    transform: translateY(-9px);
    padding: 16px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: $orange;
    border: 1px solid  $orange;
    color: $white;
    &:hover {
      background-color: $white;
      color: $orange;
	  border: 1px solid  $orange;
      cursor: pointer;
    }
  }
}
.slick-active {
  outline: none;
}
.arrow-right {
  right: -55px;
  padding-left: 20px;
}
.arrow-left {
  left: -55px;
  padding-right: 20px;
}

/* Finish section Why_us */


/* Start section Our_goals */

.our_goals {
	padding: 0 0 300px 0;
	background: url(../img/our_goals/bg-our_goals-img.png) no-repeat;
	background-position: -50px -10px;

	&-img {
		padding: 100px 0 0 0;
		text-align: center;
		background: url(../img/our_goals/bg-our_goals-text.png) no-repeat;
		background-size: contain;
		background-position: 50% -60px;
		img {
			width: 850px;
			max-height: 480px;
		}
	}
}

/* Finish section Our_goals */


/* Start section Mix_match */

.mix_match {
	position: relative;
	padding: 0px 0 100px 0;
	img {
		position: absolute;
		right: 0;
		top: -50%;
	}
	&-desc {
		position: relative;
		img {
			position: absolute;
			top: -50%;
		}
		p {
			font-size: 20px;
		}
		.btn-mix_match {
			text-transform: uppercase;
		}
	}
}

/* Finish section Mix_match */


/* Start section Multibrand */

.multibrand {
	position: relative;
	margin-top: 100px;
	padding: 50px 0 100px 0;
	background: url(../img/multibrand/bg-multibrand.png) no-repeat;
	background-size: cover;
	img {
		position: absolute;
		top: -20%;
		right: 3%;
	}

	&-desc {
		padding-bottom: 100px;
		img {
			position: absolute;
			top: -30%;
			right: -20%;
		}
		&-text {
			position: relative;
			h3 {
				font-size: 50px;
			}
			p {
				font-size: 20px;
			}
		}
	}

}

/* Finish section Multibrand */


/* Start section Footer */

.footer {
	padding: 50px 0 25px 0;
	background: $black-grey;

	&-quick_menu {
		&-head {
			border-bottom: 1px solid  $white;
		}
		&-links {
			padding-top: 40px;
			display: flex;
			
			nav {
				ul {
					li {
						position: relative;
						margin-bottom: 20px;
						color: $normal-grey;
						&:hover {
							color: $white;
							font-weight: 700;
						}
						img {
							display: none;	
						}
						&:hover {
							color: $white;
							font-weight: 700;
							 > img {
							 	position: absolute;
							 	display: inline-block;
							 	height: 10px;
							 	width: 6px;
							 	top: calc(50% - 6px);
							 	left: -15px;
						    }
						}
					}
				}
			}
			&-block_1 {
				margin-right: 25px;
			}
			&-block_2 {
				margin-right: 25px;
			}
			&-block_3 {
				nav {
					ul li:last-of-type {
						color: $yellow;
					}
				}
				nav.social {
					ul {
						display: flex;
						li a {
							margin-right: 10px;
							img {
								display: inline-block;
								width: 21px;
								height: 21px;
							}
						}
					}
				}
			}
		}
	}

	&-contact {

		&-head {
			border-bottom: 1px solid  $white;			
		}
		&-form {
			padding-top: 20px;
			.contact-item {
				position: relative;
				margin-bottom: 10px;
				font-size: 14px;

				.btn-clear {
					position: absolute;
					top: 2.5px;
					right: 5px;
					display: none;
					img {
						width: 35px;
						height: 35px;
					}
				}
				&:focus-within > .btn-clear {
					display: block;
				}
			}
			.contact-input,	.contact-textarea {
				width: 100%;
				min-height: 40px;
				padding: 5px 10px;
				color: $white;
				border: none;
				border-radius: 6px;
				background-color: $dark-grey;
				&::-webkit-input-placeholder {
					color: $normal-grey;
					background: $dark-grey url(../img/icons/arrow-normal-grey.svg) no-repeat;
					background-size: 10px 10px;
					background-position: 0px 50%;
					padding-left: 20px;
				}
			}
		}
		&-newsletter {
			padding-top: 10px;
			.newsletter-form {
				padding-top: 15px;
			}
		}

	}

	&-caption {
		padding: 30px 0;
		background: $dark-black;

		span {
			font-size: 14px;
			color: $normal-grey;
		}
	}
}

/* Finish section Footer */