// Start section Footer
footer
	#footer.footer
		.container
			.row
				.col-12.col-md-7.footer-quick_menu
					.footer-quick_menu-head
						h4 QUICK MENU
						hr
					// Start block Quick_menu-links
					.footer-quick_menu-links
						.footer-quick_menu-links-block_1
							nav
								ul
									li
										img(src='img/icons/arrow-white.svg', alt='arrow')
										a(href='#') Orcopom Group
									li
										img(src='img/icons/arrow-white.svg', alt='arrow')
										a(href='#') Integral Solutions
									li
										img(src='img/icons/arrow-white.svg', alt='arrow')
										a(href='#') Target Markets
									li
										img(src='img/icons/arrow-white.svg', alt='arrow')
										a(href='#') Clients
									li
										img(src='img/icons/arrow-white.svg', alt='arrow')
										a(href='#') Partners
									li
										img(src='img/icons/arrow-white.svg', alt='arrow')
										a(href='#') Safety Culture
								ul.footer-quick_menu-links-dop
									li
										a(href='#') Contacts
									li
										a(href='#') FAQs
						.footer-quick_menu-links-block_2
							nav
								ul
									li
										img(src='img/icons/arrow-white.svg', alt='arrow')
										a(href='#') Standard  F@W Products
									li
										img(src='img/icons/arrow-white.svg', alt='arrow')
										a(href='#') Mix & Match
									li
										img(src='img/icons/arrow-white.svg', alt='arrow')
										a(href='#') Consulting & Design
									li
										img(src='img/icons/arrow-white.svg', alt='arrow')
										a(href='#') Wash & Care
									li
										img(src='img/icons/arrow-white.svg', alt='arrow')
										a(href='#') Measurements
								ul.footer-quick_menu-links-dop
									li
										a(href='#') Policy & Service
									li
										a(href='#') DYG
						.footer-quick_menu-links-block_3
							nav
								ul
									li
										a(href='#') Contacts
									li
										a(href='#') FAQs
									li
										a(href='#') Policy & Service
									li
										a(href='#') DYG
							nav.social
								ul
									li
										a(href='#')
											img(src='img/icons/instagram.svg', alt='instagram')
									li
										a(href='#')
											img(src='img/icons/in.svg', alt='in')
									li
										a(href='#')
											img(src='img/icons/facebook.svg', alt='facebook')
									li
										a(href='#')
											img(src='img/icons/play.svg', alt='play')
				// Finish block Quick_menu-links
				// Start block Footer-feedback
				.col-12.col-md-5.footer-feedback
					// Start block Footer-contact
					.footer-contact
						.footer-contact-head
							h4 CONTACT
						.footer-contact-form
							form#contact_1.form
								.contact-item
									input.input.email(type='text', name='email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Email Adress', required='')
								.contact-item
									input.input.subject(type='text', name='subject', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Subject', required='')
								.contact-item
									textarea.textarea(name='message', cols='40', rows='2', aria-invalid='false', placeholder='Message', required='')
									.btn-send.btn-send-textarea
										button(value='')
					// Finish block footer-contact
					// Start block footer-newsletter
					.footer-newsletter
						.footer-newsletter-head
							h4 NEWSLETTER
						.footer-contact-form.newsletter-form
							form#contact_2
								.contact-item
									input.input.email.focus-within-class(type='text', name='email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Email Adress', required='')
									.btn-send
										button(value='')
					// Finish block footer-newsletter
					// Start block footer-mob_contact
					.footer-mob_contact
						.footer-mob_contact-head
							h4 Contact
						.footer-mob_contact-body
							img(src='img/icons/phone.svg', alt='call')
							p
								| Call us from 8:30pm to 18:00pm 
								br
								a.orange(href='#') +351 252 299 070
							nav.social
								ul
									li
										a(href='#')
											img(src='img/icons/instagram.svg', alt='instagram')
									li
										a(href='#')
											img(src='img/icons/in.svg', alt='in')
									li
										a(href='#')
											img(src='img/icons/facebook.svg', alt='facebook')
									li
										a(href='#')
											img(src='img/icons/play.svg', alt='play')
					// Finish block footer-mob_contact
					// Finish block Footer-feedback
	.footer-caption
		.container
			.row
				.col-12.footer-caption-block
					span © 2018 Force@work.
					img(src='img/icons/logo-footer.svg', alt='perto')
// Finish section Footer
// Finish block wrapper
// Optional JavaScript
script(src='js/jquery-3.1.1.js')
script(src='js/libs.min.js')
script(src='js/main.js')