doctype html
html(lang='en')
	head
		// Required meta tags
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		// Bootstrap CSS and another
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		link(rel='stylesheet', href='css/libs.min.css')
		link(rel='stylesheet', href='css/main.css')
		title
			block title
	body

		// Start block wrapper
		
		.wrapper

			include svg

			include header

			block content

			include footer

		// Finish block wrapper
