// Start section Header
header#header.header
	// Start block Header-top and Header-bottom
	.container-fluid
		.row.header-top
			.col-6.col-lg-3.header-top-logo
				a(href='#')
					img(src='img/header/logo.png', alt='force@work')
				.header-bottom-text.header-bottom-text_2
					span By Orcopom Group
			.col-5.col-lg-8.header-top-menu
				nav
					ul.nav
						li
							a.active_link.link(href='#') Home
						li
							a.link(href='#') Orcopom Group
						li
							a.link(href='#') Products
						li
							a.link(href='#') Consuting & developement
						li
							a.link(href='#') Contacts
			.col-1.header-top-lang
				select.cs-select.cs-skin-border
					option(value='en', selected='') En
					option(value='ru') Ru
					option(value='esp') Esp
			// Start block mobile_menu
			.col-6.main-nav
				a.main-nav-bar(href='#')
					span.line
			.overlay-nav
				span.close-nav ×
				ul
					li
						a.active_link.link(href='#') Home
					li
						a.link(href='#') Orcopom Group
					li
						a.link(href='#') Products
					li
						a.link(href='#') Consuting & developement
					li
						a.link(href='#') Contacts
					li
						select.cs-select.cs-skin-border
							option(value='en', selected='') En
							option(value='ru') Ru
							option(value='esp') Esp
			// Finish block mobile_menu
		hr.line-header
		.row.header-bottom
			.col-6.col-md-3.header-bottom-text.header-bottom-text_1
				span By Orcopom Group
			.col-6.col-md-9.col-lg-8.offset-col-lg-1.header-bottom-submenu
				nav
					ul.nav
						li
							a.link(href='#') Mix & Match
						li
							a.link(href='#') Integral Solutions
						li
							a.link(href='#') Safety
	// Finish block Header-top and Header-bottom
// Finish section Header
