extends template/base

block title
	| Mix&Match

block content

	// Start section Mix_match
	section#mix_match.mix_match.mm--mix_match
		.container
			.row
				img.bg-mix_match-img(src='img/mix_match/bg-mix_match-img.png', alt='mix_match-site')
				.col-12.mix_match-desc
					.content
						h3
							| Mix 
							br
							|  & Match
						p
							| O Mix & Match, através do nosso configurador online – Design Your Garment - |permite a cada utilizador, as mais diversas formas de personalização e |desenvolvimento de um uniforme de trabalho distinto, com mais de 1000 combinações |possíveis (13 cores, 20 detalhes, seleção de materiais, pespontos, tipo de bolsos, | etc.), disponível para produções a partir de 100 peças e com prazos de entrega de | 4 a 6 semanas. 
							a.read_more(href='#') Read more…

						a.btn(href='#')
							| Try it Now
							svg.icon
								use(xlink:href='#arrow-right')

						a.btn.btn-crystalline(href='#')
							| Contact Us
							svg.icon
								use(xlink:href='#arrow-right')
	// Finish section Mix_match

	// Start section features

	section#features.features
		// inside
		.process__inner.inside
			.under
				p features
			// Start block features__slider
			.features__slider

				// Start block features-slider-item
				.features__slider-item
					.features__slider-item-wrap
						.features__slider-box
							.features__slider-img
								img(src='img/features/features_item-1.png', alt='Use DYG')
							.features__slider-text
								.features__slider-text-head
									span Use DYG
								.features__slider-text-body
									p
										| Use our online configurator to draw your workclothing
				// Finish block features-slider-item
				// Start block features-slider-item
				.features__slider-item
					.features__slider-item-wrap
						.features__slider-box
							.features__slider-img
								img(src='img/features/features_item-2.png', alt='Choose the materials')
							.features__slider-text
								.features__slider-text-head
									span Choose the materials
								.features__slider-text-body
									p
										| Use the fabric that most feet your needs
				// Finish block features-slider-item
				// Start block features-slider-item
				.features__slider-item
					.features__slider-item-wrap
						.features__slider-box
							.features__slider-img
								img(src='img/features/features_item-3.png', alt='Shapes and details')
							.features__slider-text
								.features__slider-text-head
									span Shapes and details
								.features__slider-text-body
									p
										| Configure your uniform according to your workers ergonomic needs
				// Finish block features-slider-item
				// Start block features-slider-item
				.features__slider-item
					.features__slider-item-wrap
						.features__slider-box
							.features__slider-img
								img(src='img/features/features_item-4.png', alt='Paint it')
							.features__slider-text
								.features__slider-text-head
									span Paint it
								.features__slider-text-body
									p
										| Color the uniform according to your company’s image
				// Finish block features-slider-item
				// Start block features-slider-item
				.features__slider-item
					.features__slider-item-wrap
						.features__slider-box
							.features__slider-img
								img(src='img/features/features_item-2.png', alt='Choose the materials')
							.features__slider-text
								.features__slider-text-head
									span Choose the materials
								.features__slider-text-body
									p
										| Use the fabric that most feet your needs
				// Finish block features-slider-item

				// Finish block process__slider
		// inside

	// Finish section features

	// Start section Multibrand
	section#multibrand.multibrand.mm--multibrand
		.container
			.row
				img.img-big(src='img/multibrand/bg-multibrand-text.png', alt='multibrand')
				img.img-small(src='img/multibrand/bg-multibrand-text-resp.png', alt='multibrand')
				.multibrand-book
					img(src='img/multibrand/multibrand-book.png', alt='book')
				.col-12.multibrand-desc
					.multibrand-desc-text
						h3
							| COMPLEMENTARY 
							br
							|  MULTIBRAND DISTRIBUTION
						p
							| We join the world’s largest producers of Workwear and Protective Equipment. We are official distributors of more than 200 brands and we provide an offer of more than 30.000 product references. We equip from head to toe!
						a.btn.btn-multibrand(href='#')
							| Know More
							svg.icon
								use(xlink:href='#arrow-right')
						a.btn.btn-multibrand.btn-crystalline(href='#', download='')
							| Download Brochure
							svg.icon
								use(xlink:href='#arrow-right')
	// Finish section Multibrand

	// Start section Programs
	section#programs.programs.mm--programs
		.container
			.row
				// Start block Programs-map
				.col-12.col-md-6
					.programs-map
						img(src='img/programs/blue-map.png', alt='map')
				// Finish block Programs-map
				// Start block Programs-desc
				.col-12.col-md-6
					.programs-desc
						h3
							| Stock 
							br
							|  and Logistics 
							br
							|  programs
						p
							| Dedicated stock Programs. Software support for purchasement and logistics management. Segmented packaging and delivery.
						.programs-desc-buttons
							a.btn.btn-programs(href='#')
								| Know More
								svg.icon
									use(xlink:href='#arrow-right')
							a.btn.btn-programs.btn-crystalline(href='#')
								| Contact Us
								svg.icon
									use(xlink:href='#arrow-right')
				// Finish block Programs-desc
	// Finish section Programs