extends template/base

block title
	| Integral

block content

	// Start section Integral
	section#integral.integral
		.integral__inner.inside
			.integral__images-wrapper
				img(src='img/integral/main-integral.png', alt='image')
			.integral__content
				h3 
					| INTEGRAL
					br 
					| SOLUTIONS
				p
					| Página 2 da brochura. 
					a.read_more(href='#') Read more…
				.integral__button-wrapper
					a.btn.btn-integral(href='#')
						| Contact our Technical Suport
						svg.icon
							use(xlink:href='#arrow-right')
	// Finish section Integral



	// Start section Int-Process
	section#process.int-process
		// /inside
		.int-process__inner.inside
			.under
				p process
			// Start block process__items
			.int-process__items

				// Start block process__items-item
				.int-process__items-item

					.int-process__items-item__text-wrapper
						h6 	
							| Expertise
							br
							| & Consulting
						ul
							li In the market since 1985
							li Determining market positioning of each company
							li Determining market positioning of each company
							li Determining market positioning of each company

					.int-process__items-item__img-wrapper
						img(src='img/integral/integral__item-1.png', alt='Expertise & Consulting')

				// Finish block process__items-item

				// Start block process__items-item
				.int-process__items-item

					.int-process__items-item__text-wrapper
						h6 	
							| Expertise
							br
							| & Consulting
						ul
							li In the market since 1985
							li Determining market positioning of each company
							li Determining market positioning of each company
							li Determining market positioning of each company

					.int-process__items-item__img-wrapper
						img(src='img/integral/integral__item-1.png', alt='Expertise & Consulting')

				// Finish block process__items-item

				// Start block process__items-item
				.int-process__items-item

					.int-process__items-item__text-wrapper
						h6 	
							| Expertise
							br
							| & Consulting
						ul
							li In the market since 1985
							li Determining market positioning of each company
							li Determining market positioning of each company
							li Determining market positioning of each company

					.int-process__items-item__img-wrapper
						img(src='img/integral/integral__item-1.png', alt='Expertise & Consulting')

				// Finish block process__items-item

				// Start block process__items-item
				.int-process__items-item

					.int-process__items-item__text-wrapper
						h6 	
							| Expertise
							br
							| & Consulting
						ul
							li In the market since 1985
							li Determining market positioning of each company
							li Determining market positioning of each company
							li Determining market positioning of each company

					.int-process__items-item__img-wrapper
						img(src='img/integral/integral__item-1.png', alt='Expertise & Consulting')

				// Finish block process__items-item

				// Start block process__items-item
				.int-process__items-item

					.int-process__items-item__text-wrapper
						h6 	
							| Expertise
							br
							| & Consulting
						ul
							li In the market since 1985
							li Determining market positioning of each company
							li Determining market positioning of each company
							li Determining market positioning of each company

					.int-process__items-item__img-wrapper
						img(src='img/integral/integral__item-1.png', alt='Expertise & Consulting')

				// Finish block process__items-item

				// Start block process__items-item
				.int-process__items-item

					.int-process__items-item__text-wrapper
						h6 	
							| Expertise
							br
							| & Consulting
						ul
							li In the market since 1985
							li Determining market positioning of each company
							li Determining market positioning of each company
							li Determining market positioning of each company

					.int-process__items-item__img-wrapper
						img(src='img/integral/integral__item-1.png', alt='Expertise & Consulting')

				// Finish block process__items-item

			// Finish block process__items
		// inside
	// Finish section Process