/* Start section Header */

.header {
	background: none;
}

/* Finish section Header */



/* Start section Consulting */

.consulting {
	padding-top: 130px;
	padding-bottom: 170px;

	&__inner {
		position: relative;
	}

	&__images-wrapper {
		position: absolute;
		right: 0;
		z-index: 1;
	}

	&__content {
		position: relative;
		width: 60%;
		z-index: 2;
		
		h3 {
			font-size: 80px;
			line-height: 75px;
			margin-bottom: 25px;
		}
		p {
			font-size: 20px;
			line-height: 28px;
			margin-bottom: 45px;
		}
		.read_more {
			color: $orange;
		}
	}


	&__button-wrapper {
		.btn-consulting {
			width: 269px;
			padding: 10px 15px;
		}
	}
}

/* Start Adaptive block */

@include xl-down {

	.consulting {
		&__images-wrapper {
			img {
				max-width: 400px;
			}
		}
	}
	
}

@include md-down {

	.consulting {

		&__images-wrapper {
			img {
				width: 320px;
			}
		}

		&__content {

			h3 {
				font-size: 50px;
				line-height: 50px;
			}
			p {
				font-size: 18px;
			}
		}
	}
	
}

@include sm-down {

	.consulting {
		padding-top: 50px;
		
		&__inner {
			text-align: center;
		}
		&__images-wrapper {
			position: static;
			img {
				width: 280px;
			}
		}

		&__content {
			width: 100%;

			h3 {
				font-size: 35px;
				line-height: 40px;
			}
			p {
				font-size: 16px;
				margin-bottom: 15px;
			}
		}

	}
	
}

/* Finish Adaptive block */

/* Finish section Consulting */



/* Start section Process */

.process {
	padding-top: 100px;
	&__inner {
		position: relative;
	}
	&__slider {

		&-item {
			padding: 0 15px;

			&-wrap {
				display: flex;
				justify-content: center;
			}
		}

		&-box {
			display: flex;
			justify-content: center;
			max-width: 220px;
			text-align: center;
			font-family: 'Montserrat' ,sans-serif;
			padding: 0 10px;
		}
	
		&-img {
			margin-bottom: 35px;
			img {
				height: 110px;
			}
		}

		&-text {
			&-head {
				span {
					font-weight: 600;
				}
			}
			&-body {
				margin-top: 15px;
				p {
					line-height: 24px;
				}

			}
		}
	}
}

@include lg-down {
	.process {

		&__slider {

			&-arrow {

				&-left {
					left: -10px;
				}

				&-right {
					right: -10px;
				}
			}
		}
	}
}

@include md-down {
	.process {

		&__slider {

			&-arrow {

				&-left {
					left: -10px;
				}

				&-right {
					right: -10px;
				}
			}
		}
	}
}

@include sm-down {
	.process {
		padding-top: 0;

		&__slider {

			&-arrow {

				&-left {
					left: -5px;
				}

				&-right {
					right: -5px;
				}
			}
		}
	}
}

@include xs-down {
	.process {

		&__slider {

			&-box {
				max-width: 280px;
			}

			&-arrow {

				&-left {
					left: 0px;
				}

				&-right {
					right: 0px;
				}
			}
		}
	}
}

@include es-down {
	.process {

		&__slider {

			&-box {
				max-width: 260px;
			}

			&-arrow {

				&-left {
					left: -10px;
				}

				&-right {
					right: -10px;
				}
			}
		}
	}
}

/* Fnish section Process */



/* Start section Programs */

.programs {
	padding: 150px 0 250px 0;

	&-map {
		img {
			min-height: 250px;
		}
	}

	&-desc {
		h3 {
			line-height: 50px;
		}
		p {
			font-size: 20px;
			line-height: 26px;
		}
		&-buttons {
			margin-top: 20px;
			.btn-programs {
				margin-top: 15px;
				padding: 8px 15px;
			}
			a:first-child {
				margin-right: 24px;
			}
			a.btn-crystalline {
				.icon {
					transform: rotate(0deg);
				}
			}
		}
	}
}

/* Start Adaptive block */

@include sm-down {
	.programs {
		text-align: center;
		padding-top: 50px;
		padding-bottom: 300px;

		&-desc {
			&-buttons {
				a:first-child {
					margin-right: 10px;
				}
			}
		}
	}
}

@include xs-down {
	.programs {
		text-align: center;

		&-desc {

			h3 {
				font-size: 35px;
				line-height: 40px;
			}

			p {
				font-size: 16px;
			}

			&-buttons {
				a:first-child {
					margin-right: 0;
				}
			}
		}
	}
}

/* Finish Adaptive block */

/* Finish section Programs */